* {
    font-family: Cambria;
    text-decoration: none;
}

body {
    background: #271F36;
}

.modal {
    width: 300px;
}

.modal-content {
    width: 300px;
}

.list-group-item:hover {
    background-color: rgb(153, 151, 151);
}

.container {
    padding: 20px;
}

#card {
    background: white;
    text-align: center;
    border-radius: 7px;
}

#botao {
    color: black;
    background: white;
}
