* {
    font-family: Cambria;
}

body {
    background: #271F36;
}

.modal {
    width: 300px;
}

.modal-content {
    width: 300px;
}

.list-group-item:hover {
    background-color: rgb(153, 151, 151);
}

#resumo, #carteiras, #evo {
    background: white;
    border: 2px solid rgb(141, 140, 140);
    padding: 40px;
    border-radius: 10px;
}

#grafico {
    justify-content: center;
}

.circulo {
    height: 300px;
    width: 300px;
    background: gray;
    border-radius: 200px;
}

.container {
    padding: 20px;
}
* {
    font-family: Cambria;
}

body {
    background: #271F36;
}

.modal {
    width: 300px;
}

.modal-content {
    width: 300px;
}

.list-group-item:hover {
    background-color: rgb(153, 151, 151);
}

#resumo, #carteiras, #evo {
    background: white;
    border: 2px solid rgb(141, 140, 140);
    padding: 40px;
    border-radius: 10px;
}

#grafico {
    justify-content: center;
}

.circulo {
    height: 300px;
    width: 300px;
    background: gray;
    border-radius: 200px;
}

.container {
    padding: 20px;
}
